<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.halcyonwaves.apps.backupmyapps" android:versionCode="60" android:versionName="0.6" >

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" android:maxSdkVersion="15" />

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" >
    </application>

</manifest>